/*
	Служебные стили. Тут ничего не стоит изменять!
*/

* {
	font-family: sans-serif;
}

.article__more {
	text-decoration: none;
}

.article {
	line-height: 27px;
}

.header {
	text-align: center;
}

/*
	Ниже можно начинать писать свои стили.
*/
